@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Bienvenido a una nueva experiencia de reseñas sobre productos electrónicos.</h3>


<br />


@if (productCards == null)
{
    <p><em>No hay productos que mostrar... </em></p>
}
else
{


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="row">

                                    @foreach (var productCard in productCards)
                                    {
                                        <p> @productCard.title</p>

                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 18rem;">
                                                <img src=@productCard.imgsource class="d-block w-100" alt="imagenProducto">
                                                <div class="card-body">
                                                    <h5 class="card-title">@productCard.title</h5>
                                                    <p class="card-text"> @productCard.description</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!--
    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/ElecriticLogo.PNG" class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/huawei.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/iphone.png" class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/lg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/motorola.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="/carousel-images/samsung.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>


                                </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<button class="btn btn-primary" @onclick=@( () =>ShowProduct(1))>Producto 1</button>
<br />
<br />
<button class="btn btn-primary" @onclick=@( () =>ShowProduct(2))>Producto 2</button>
<br />
<br />
<button class="btn btn-primary" @onclick=@( () =>ShowProduct(3))>Producto 3</button>

@code {


        void ShowProduct(int id)
        {
            NavigationManager.NavigateTo("BlazorTests/product/" + id);

        }

    private ProductCard[] productCards;
    

    protected override async Task OnInitializedAsync()
    {
        productCards = await Http.GetFromJsonAsync<ProductCard[]>("sample-data/weather.json");

    }

    public class ProductCard
    {
        public string imgsource { get; set; }

        public string title { get; set; }

        public string description { get; set; }

    }

   
}

