@page "/BlazorTests/product/{productId}"
@page "/BlazorTests/product"
<h3>product.Title</h3>

<p>Soy el producto @ProductId </p>

@code {
    [Parameter]
    public string ProductId { get; set; }

    private IList<Product> todos = new List<Product>();

    protected override void OnInitialized()
    {

    }
}
