@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row">
        <h1><a href="" style="color: #ffd700">Elecritic</a></h1>
        <a href="https://diegobr21.github.io/BlazorTests/login" target="_blank">Usuario</a>
        
    </div>
        
        <div class="content px-4">
            @Body
        </div>
        
</div>
