@inherits LayoutComponentBase

    <div class="sidebar">
        <NavMenu/>
    </div>

<div class="main">
    
    <div class="top-row">
        <h1><a href="" style="color: #ffd700">Elecritic</a></h1>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">Acerca de nosotros</a>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>
